.claim-page-title {
    font-size: 3em;
}

.claim-coupon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cpn-coupon_code {
    color: black;
    font-size: 1.5em;
    font-weight: 700;
    padding: 0;
}

.cpn-merchant {
    color: #bbb;
    display: inline;
    margin-right: 0.5em;
}

.cpn-valid-until {
    color: #bbb;
    display: inline;
    margin-left: 0.5em;
}

.cpn-description {
    color: #000;
}

hr.solid {
    border-top: 3px solid #bbb;
}

.hor-line {
    content: '\00B7';
    font-size: 2em;
    color: #bbb;
}

input,
button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.2rem;
}

input[type="search"] {
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}


/* 
label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
} */

.result {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .result div {
    margin-bottom: 10px;
  }